<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %><!-- The include is used to pull the partial components-->
    </head>
    <body class="container">
        <% include ../partials/header %>
        </header>
        <main>
            instagram photos will go here
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>